/* color font #458C5A */

/* Reset CSS */
* {
    margin: 0; /*sem margem*/
    padding: 0; /*sem distancia do próximo conteúdo*/
    box-sizing: border-box; 
    text-decoration: none; /* tirar qualquer decoração que pode ter no texto */
}

body {
    font-size: 100%; /* tamanho da fonte 100% */
    background-color: #FFFFFF;
    height: auto;
}


.cabecalho {
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 24px;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 5;
}


.cabecalho-logo {
    width: 72px;
    cursor: pointer;
}

.cabecalho-nav {
    display: flex;
    gap: 32px;
}

.cabecalho-nav-item {
    position: relative;
    color: black;
    font-family: 'Sarala', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.cabecalho-nav-item:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0%;
    bottom: -5px;
    transition: 0.3s;

}

.cabecalho-nav-item:hover {
    color: black;
}

.cabecalho-nav-item:hover:after {
    width: 100%;
}
